APP_ENV="dev"
NODE_ENV="development"
DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"
JWT_SECRET="your-jwt-secret-at-least-32-characters-long"
JWT_REFRESH_SECRET="your-refresh-secret-at-least-32-characters-long"
PORT="3000"
